<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web3-result</title>
</head>
<body>
<table style=" width: 80%; height:9%; border: 1px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>

<p>Message: <b>${message}</b></p>

</body>
</html>